<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="css/menu.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-gitlab'></i>
        <div class="logo_name">SAS Academic</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <!-- <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Tìm kiếm...">
         <span class="tooltip">Tìm kiếm</span>
      </li> -->
      <li>
        <a href="#">
          <i class='bx bx-grid-alt bx-tada-hover'></i>
          <span class="links_name">Tổng Quan</span>
        </a>
         <span class="tooltip">Tổng Quan</span>
      </li>
      <li>
       <a href="#">
        <i class='bx bx-id-card bx-tada-hover'></i>
         <span class="links_name">Thông tin sinh viên</span>
       </a>
       <span class="tooltip">Thông tin sinh viên</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bxs-bell bx-tada-hover'></i>
         <span class="links_name">Ghi chú nhắc nhở</span>
       </a>
       <span class="tooltip">Ghi chú nhắc nhở</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bxs-graduation  bx-tada-hover'></i>
         <span class="links_name">Kết quả học tập</span>
       </a>
       <span class="tooltip">Kết quả học tập</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bx-list-check bx-tada-hover'></i>
         <span class="links_name">Đăng ký học phần</span>
       </a>
       <span class="tooltip">Đăng ký học phần</span>
     </li>
     <li>
       <a href="#">
        <i class='bx bxs-calendar bx-tada-hover' ></i>
         <span class="links_name">Xem lịch theo tuần</span>
       </a>
       <span class="tooltip">Xem lịch theo tuần</span>
     </li>
     <li>
        <a href="#">
            <i class='bx bx-calendar-week bx-tada-hover'></i>
          <span class="links_name">Xem lịch theo tiến độ</span>
        </a>
        <span class="tooltip">Xem lịch theo tiến độ</span>
      </li>
     <li>
       <a href="#">
        <i class='bx bx-dollar-circle  bx-tada-hover' ></i>
         <span class="links_name">Tra cứu công nợ</span>
       </a>
       <span class="tooltip">Tra cứu công nợ</span>
     </li>
     
     <li>
        <a href="#">
          <i class='bx bx-cog bx-tada-hover' ></i>
          <span class="links_name">Cài đặt giao điện</span>
        </a>
        <span class="tooltip">Cài đặt giao điện</span>
      </li>
     <li class="profile">
         <div class="profile-details">
           <img src="img/logo.png" alt="profileImg">
           <!-- <div class="name_job">
             <div class="name">Prem Shahi</div>
             <div class="job">Web designer</div>
           </div> -->
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="text">Tổng Quan</div>
  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

//   searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
//     sidebar.classList.toggle("open");
//     menuBtnChange(); //calling the function(optional)
//   });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>
